/* ------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--color-white);
  font-size: 18px;
  color: var(--color-black);
}

/* var-color */
:root {
  --color-white: #FFFFFF;
  --color-blue: #0671E0;
  --color-black: #111;
}